.container {
    display: flex;
    flex-wrap: wrap;
   
  }

  
  .row {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
  
  .col-md-8, .col-md-4 {
    flex: 1;
    margin: 10px;
    min-width: 0;
  }
  .container {
   
    display: flex;
    flex-wrap: wrap;
  }
  
  .row {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
  
  .col-md-8, .col-md-4 {
    flex: 1;
    margin: 10px;
    min-width: 0;
  }
  .container-fluid {
    margin-right: 20px;
    overflow-y: hidden;
  }
  

  @media (max-width: 991.98px) {
    .order-1,
    .order-2 {
      width: 50%;
      margin-bottom: 20px;
    }
  }
  .navbar-space {
    margin-bottom: 100px;
  }
  .navbar-space {
    padding-bottom: 60px;
    
  }
  /* .main-container{
    background-color: black;
  } */