<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-navbar></app-navbar>
  <div class="container-fluid main-container" style=" background-color: #B2D0DF;">
      <div class="row">
          <div class="col-md-8 col-lg-6 col-sm-6 order-2 order-md-1">
              <app-edit-template></app-edit-template>
          </div>
          <div class="col-md-4 col-lg-6 col-sm-6 order-1 order-md-2">
         <app-template2></app-template2>
         <!-- <app-first-template
         ></app-first-template> -->
          </div>
      </div>
      
  </div>
</body>
</html>
  
  