<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a routerLink="/home" class="btn btn-custom">Home</a></li>
                <li><a routerLink="/CreateCv" class="btn btn-custom">Create Cv</a></li>
                <li><a routerLink="/portfolioform" class="btn btn-custom">Create Portfolio</a></li>
                <li><a routerLink="/register" class="btn btn-custom">Register</a></li>
              
            </ul>
            <h1 class="logo">SPARK HIRE</h1>
        </div>
    </nav>
</body>
</html>