<body>
    <app-navbar></app-navbar>
    <main id="main" role="main">
      <div class="content">
        <h1 class="anim" style="font-size: 60px; font-family: 'Roboto', sans-serif; font-weight: bold;">Our Templates</h1>

        <div class="links anim w-100">
          <button><span></span>Preview Template</button>
          <button><span></span>Use Template</button>
        </div>
      </div>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow" style="box-shadow: 0 0 10px green;">
                  <img class="card-img-top" src="../../assets/img/cvtemp2.png" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text" style="text-align: center; font-weight:bold">Modern Green Flexible Cv</p>
                    <div class="d-flex justify-content-center">
                      <div class="btn-group align-items-center">
                        <a routerLink="/previewtemp1" class="btn btn-custom">See template</a>
                        <a routerLink="/template1" class="btn btn-custom">Use template</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            <div class="col-md-4">
                <div class="card mb-4 box-shadow" style="box-shadow: 0 0 10px orange;">
                <img class="card-img-top" src="../../assets/img/cvtemp1.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"style="text-align: center;  font-weight:bold">Modern Orange Flexible Cv </p>
                  <div class="d-flex justify-content-center">
                    <div class="btn-group align-items-center">
                      <a href="#" class="btn btn-custom">See template</a>
                      <a routerLink="/template2" class="btn btn-custom">Use template</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow" style="box-shadow: 0 0 10px blue;">
                <img class="card-img-top" src="../../assets/img/cvtemp3.png" style="width: 380px; height: 500px;">
                <div class="card-body">
                  <p class="card-text"style="text-align: center; font-weight:bold">Modern Blue Flexible Cv </p>
                  <div class="d-flex justify-content-center">
                    <div class="btn-group align-items-center">
                      <a href="#" class="btn btn-custom">See template</a>
                      <a href="#" class="btn btn-custom">Use template</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  