<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4" (click)="selectTemplate1()">
          <img src="../../assets/template1.PNG" class="card-img-top" alt="Template 1 preview">
          <div class="card-body">
            <h5 class="card-title">Template 1</h5>
            <p class="card-text">This is a preview of Template 1. Click to select.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4" (click)="selectTemplate2()">
          <img src="../../assets/template2.PNG" class="card-img-top" alt="Template 2 preview">
          <div class="card-body">
            <h5 class="card-title">Template 2</h5>
            <p class="card-text">This is a preview of Template 2. Click to select.</p>
          </div>
        </div>
      </div>
    </div>
  </div>