<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="main">
        <app-navbar></app-navbar>
        <div class="content">
            <h1 class="anim">Preview template</h1>
            <div class="links anim">
                <button><span></span>Preview Template</button>
                <button><span></span>Use Template</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 pr-0">
                <img class="card-img-top" src="../../assets/img/cvtemp2.png" alt="Card image cap"
                    style="width: 100%; height: auto;">
            </div>
            <div class="col-md-6">
                <div class="description text-center">
                    <h2>Description</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum minus dolorum assumenda?
                        Quibusdam laudantium corrupti autem deserunt magnam itaque iste libero mollitia rerum sed, esse
                        provident, alias repudiandae, perferendis accusantium?</p>
                    <button class="button-primary">Voir Template</button>
                    <button class="button-secondary">Modifier Template</button>
                </div>
            </div>
        </div>
    </div>



    <footer>
        <div class="row">
            <div class="col">
                <img src="logo.png" class="footer_logo">
                <p class="footer_about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore harum
                    molestias nesciunt,
                    doloremque magni aspernatur iste blanditiis, fugiat quaerat accusamus ut, vero tempore.
                    Fugiat, illum!
                </p>
            </div>
            <div class="col">
                <h3>Office <div class="bottom_line"><span></span></div>
                </h3>
                <p>2841 Romines Mill Road</p>
                <p>Plano</p>
                <p>Texas, ZIP 75074, United States</p>
                <p class="footer_email">alexastockphotos@gamil.com</p>
                <h4>+1 - 2145958195</h4>
            </div>
            <div class="col">
                <h3>Links <div class="bottom_line"><span></span></div>
                </h3>
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">SERVICE</a></li>
                    <li><a href="">CONTACT US</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Newsletter <div class="bottom_line"><span></span></div>
                </h3>
                <form>

                    <input type="email" placeholder="Enter your email" required>
                    <button type="submit"></button>
                </form>

            </div>
        </div>
        <hr>
        <p class="copyright">Cosas Learning Ⓒ 2022 - All Rights Reserved</p>
    </footer>
</body>

</html>